[secrets]
# IP address where log messages are sent.
udpLogTarget = 192, 168, 0, 20
# Add a password for other-the-air password updates.
otaPassword = {password-here}
# Add a password for the Soft-AP mode.
# This will allow soft-AP Wifi to be encrypted.
apPassword = {password-here}
# Use WiFi to update firmware
uploadProtocol = espota
# IP address of board
uploadPort = 192.168.0.99
uploadAuth = --auth='${secrets.otaPassword}'
